<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiii.backend_511.mapperservice.RecommendStrategyMapper">
  <resultMap id="BaseResultMap" type="com.seiii.backend_511.po.recommend.RecommendStrategyInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="on_use" jdbcType="INTEGER" property="onUse" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="difficulty" jdbcType="INTEGER" property="difficulty" />
    <result column="activity" jdbcType="INTEGER" property="activity" />
    <result column="device" jdbcType="INTEGER" property="device" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recommend_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seiii.backend_511.po.recommend.RecommendStrategyInfo">
    insert into recommend_strategy (id, on_use, exp, 
      name, difficulty, activity, 
      device, num,type)
    values (#{id,jdbcType=INTEGER}, #{onUse,jdbcType=INTEGER}, #{exp,jdbcType=INTEGER}, 
      #{name,jdbcType=INTEGER}, #{difficulty,jdbcType=INTEGER}, #{activity,jdbcType=INTEGER}, 
      #{device,jdbcType=INTEGER}, #{num,jdbcType=INTEGER},#{type,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seiii.backend_511.po.recommend.RecommendStrategyInfo">
    update recommend_strategy
    set on_use = #{onUse,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      name = #{name,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      activity = #{activity,jdbcType=INTEGER},
      device = #{device,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
        type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOnUse" resultMap="BaseResultMap">
    select id, on_use, exp, name, difficulty, activity, device, num,type
    from recommend_strategy
    where on_use = 1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, on_use, exp, name, difficulty, activity, device, num,type
    from recommend_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, on_use, exp, name, difficulty, activity, device, num,type
    from recommend_strategy
  </select>
</mapper>