<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiii.backend_511.mapperservice.ReportFileMapper">
  <resultMap id="BaseResultMap" type="com.seiii.backend_511.po.file.ReportFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="report_id" jdbcType="INTEGER" property="reportId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="resource_dir" jdbcType="VARCHAR" property="resourceDir" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from report_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seiii.backend_511.po.file.ReportFile">
    insert into report_file (id, report_id, name, 
      type, resource_dir, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{reportId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{resourceDir,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seiii.backend_511.po.file.ReportFile">
    update report_file
    set report_id = #{reportId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      resource_dir = #{resourceDir,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, report_id, name, type, resource_dir, create_time
    from report_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, report_id, name, type, resource_dir, create_time
    from report_file
  </select>
  <select id="selectByReportId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, report_id, name, type, resource_dir, create_time
    from report_file
    where  report_id=#{reportId,jdbcType=INTEGER}
  </select>
</mapper>