<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiii.backend_511.mapperservice.UserProjectMapper">
  <resultMap id="BaseResultMap" type="com.seiii.backend_511.po.project.UserProject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="join_time" jdbcType="TIMESTAMP" property="joinTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seiii.backend_511.po.project.UserProject">
    insert into user_project (id, project_id, user_id,join_time
      )
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{joinTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seiii.backend_511.po.project.UserProject">
    update user_project
    set project_id = #{projectId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
        join_time = #{joinTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_id, user_id,join_time
    from user_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_id, user_id,join_time
    from user_project
    where user_id = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectByProjects" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_id, user_id,join_time
    from user_project
    where project_id = #{pid,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectAndUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_id, user_id,join_time
    from user_project
    where project_id = #{pid,jdbcType=INTEGER} and user_id = #{uid,jdbcType=INTEGER}
  </select>
  <select id="getNeighbors" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select distinct user_id
    from user_project as u2
    where u2.project_id in (
        select u1.project_id
        from user_project as u1
        where u1.user_id = #{uid,jdbcType=INTEGER}
    ) and user_id != #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, project_id, user_id,join_time
    from user_project
  </select>
</mapper>