<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiii.backend_511.mapperservice.UserDeviceMapper">
  <resultMap id="BaseResultMap" type="com.seiii.backend_511.po.user.UserDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
  </resultMap>
  <resultMap id="DeviceMap" type="com.seiii.backend_511.vo.user.DeviceVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seiii.backend_511.po.user.UserDevice">
    insert into user_device (id, user_id, device_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seiii.backend_511.po.user.UserDevice">
    update user_device
    set user_id = #{userId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, device_id
    from user_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserAndDevice" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, device_id
    from user_device
    where user_id = #{uid,jdbcType=INTEGER} and device_id = #{did,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="DeviceMap">
    select u.id as id,u.device_id as device_id,d.device_info
    from user_device as u,seiii.device as d
    where u.user_id = #{uid,jdbcType=INTEGER} and u.device_id = d.id
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, device_id
    from user_device
  </select>

</mapper>